<div class="row-layout row">
  <div class="row-layout_4 row-layout_6 row">
    <div class="row-layout_2 row">
      <img src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar6.png" class="image" />
    </div>
    <div class="column-layout_3 column">
      <div class="column-layout_3 layout column">
        <h4 class="title">Erin Brockovich</h4>
        <p class="igx-typography__subtitle-1 title">Water Quality Specialist</p>
      </div>
      <div class="row-layout_5 row">
        <button igxButton="flat" igxButtonColor="var(--igx-surface-500)" igxButtonBackground="var(--igx-primary-400)" [disabled]="false" class="user-input_1">
          <span>personal</span>
        </button>
        <button igxButton="flat" igxButtonColor="var(--igx-surface-500)" [disabled]="false" class="user-input_1">
          <span>job</span>
        </button>
        <button igxButton="flat" igxButtonColor="var(--igx-surface-500)" [disabled]="false" class="user-input_1">
          <span>time-off</span>
        </button>
        <button igxButton="flat" igxButtonColor="var(--igx-surface-500)" [disabled]="false" class="user-input_1">
          <span>emergency</span>
        </button>
        <button igxButton="flat" igxButtonColor="var(--igx-surface-500)" [disabled]="false" class="user-input_1">
          <span>documents</span>
        </button>
        <button igxButton="flat" igxButtonColor="var(--igx-surface-500)" [disabled]="false" class="user-input_1">
          <span>benefits</span>
        </button>
        <button igxButton="flat" igxButtonColor="var(--igx-surface-500)" [disabled]="false" class="user-input_1">
          <span>pay info</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row-layout_1 row">
  <div class="row-layout_4 row-layout_9 row">
    <div class="column-layout column">
      <div class="column-layout_4 column">
        <p class="igx-typography__subtitle-2 title_1">Hire Date</p>
        <p class="igx-typography__body-2 content_1">Feb 01, 2010</p>
        <p class="igx-typography__caption content_1">10y-10m-7d</p>
      </div>
      <div class="column-layout_4 column">
        <div class="row-layout_8 row-layout_9 row-layout_10 row">
          <igx-icon font="material" [active]="true" class="content icon_1">waves</igx-icon>
          <p class="igx-typography__body-2 content_1">Waste water mgmt.</p>
        </div>
        <div class="row-layout_8 row-layout_9 row-layout_10 row">
          <igx-icon font="material" [active]="true" class="content icon_1">domain</igx-icon>
          <p class="igx-typography__body-2 content_1">Nuclear Disposal</p>
        </div>
        <div class="row-layout_8 row-layout_9 row-layout_10 row">
          <igx-icon font="material" [active]="true" class="content icon_1">location_on</igx-icon>
          <p class="igx-typography__body-2 content_1">California, USA</p>
        </div>
      </div>
      <div class="column-layout_1 column">
        <p class="igx-typography__subtitle-2 title_1">Manager</p>
        <div class="row-layout_6 row-layout_8 row">
          <igx-avatar [roundShape]="true" src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar1.png" size="small" class="content"></igx-avatar>
          <p class="igx-typography__body-2 content_1">Donni Darko</p>
        </div>
      </div>
    </div>
    <div class="column-layout_2 column">
      <div class="row-layout_6 layout row-layout_10 row-layout_11 row">
        <igx-icon font="material" [active]="true" class="icon">perm_contact_calendar</igx-icon>
        <h6 class="content_1">Personal</h6>
      </div>
      <p class="igx-typography__subtitle-1 title_2">Basic Information</p>
      <div class="layout row-layout_9 row-layout_10 row-layout_11 row">
        <igx-input-group type="border" class="user-input">
          <label igxLabel for="inputField">First name</label>
          <input type="text" name="inputField" [required]="false" [disabled]="true" igxInput value="Erin" />
        </igx-input-group>
        <igx-input-group type="border" class="user-input">
          <label igxLabel for="inputField">Middle name</label>
          <input type="text" name="inputField" [required]="false" [disabled]="true" igxInput value="First name" />
        </igx-input-group>
        <igx-input-group type="border" class="user-input_1">
          <label igxLabel for="inputField">Last name</label>
          <input type="text" name="inputField" [required]="false" [disabled]="true" igxInput value="Brockovich" />
        </igx-input-group>
      </div>
      <div class="layout row-layout_9 row-layout_10 row-layout_11 row">
        <igx-select value="2" type="border" [disabled]="false" class="user-input">
          <label igxLabel>Gender</label>
          <igx-select-item [isHeader]="false" value="1" [disabled]="false" class="select-item">
            Male
          </igx-select-item>
          <igx-select-item [isHeader]="false" value="2" [disabled]="false" class="select-item">
            Female
          </igx-select-item>
          <igx-select-item [isHeader]="false" value="3" [disabled]="false" class="select-item">
            It's complicated
          </igx-select-item>
        </igx-select>
        <igx-select placeholder type="border" [disabled]="false" class="user-input_1">
          <label igxLabel>Marital status</label>
          <igx-select-item [isHeader]="false" value="1" [disabled]="false" class="select-item">
            Married
          </igx-select-item>
          <igx-select-item [isHeader]="false" value="1" [disabled]="false" class="select-item">
            Single
          </igx-select-item>
        </igx-select>
      </div>
      <div class="layout row-layout_9 row-layout_10 row-layout_11 row">
        <igx-input-group type="border" class="input-group">
          <label igxLabel for="inputField">Address</label>
          <input type="text" name="inputField" [required]="true" [disabled]="false" igxInput value="123 Wallaby Lane" />
        </igx-input-group>
      </div>
      <div class="row-layout_7 row">
        <igx-input-group type="border" class="user-input">
          <label igxLabel for="inputField">City</label>
          <input type="text" name="inputField" [required]="true" [disabled]="false" igxInput value="Scramento" />
        </igx-input-group>
        <igx-input-group type="border" class="input-group_1">
          <label igxLabel for="inputField">State</label>
          <input type="text" name="inputField" [required]="true" [disabled]="false" igxInput value="CA" />
        </igx-input-group>
        <igx-input-group type="border" class="user-input_1">
          <label igxLabel for="inputField">Zip/Postal Code</label>
          <input type="numeric" name="inputField" [required]="true" [disabled]="false" igxInput />
        </igx-input-group>
      </div>
      <p class="igx-typography__subtitle-1 title_2">Contact</p>
      <div class="row-layout_7 row">
        <igx-input-group type="border" class="user-input">
          <igx-prefix>
            <igx-icon font="material" [active]="true" class="icon_1 icon_2">home</igx-icon>
          </igx-prefix>
          <label igxLabel for="inputField">Home phone</label>
          <input type="phone" name="inputField" [required]="false" [disabled]="false" igxInput />
        </igx-input-group>
        <igx-input-group type="border" class="user-input">
          <igx-prefix>
            <igx-icon font="material" [active]="true" class="icon_1 icon_2">domain</igx-icon>
          </igx-prefix>
          <label igxLabel for="inputField">Work phone</label>
          <input type="phone" name="inputField" [required]="false" [disabled]="false" igxInput />
        </igx-input-group>
        <igx-input-group type="border" class="input-group_2">
          <igx-prefix>
            <igx-icon font="material" [active]="true" class="icon_1 icon_2">person</igx-icon>
          </igx-prefix>
          <label igxLabel for="inputField">Mobile phone</label>
          <input type="phone" name="inputField" [required]="false" [disabled]="false" igxInput />
        </igx-input-group>
      </div>
    </div>
  </div>
</div>
<div class="row-layout_3 row">
  <p class="igx-typography__body-2 text">(c) 2020 IndigoDesign Inc.</p>
</div>
