<div class="row-layout_1 row">
  <div class="row-layout_6 layout_1 row">
    <igx-icon font="material" [active]="true" color="var(--igx-surface-500)" class="icon">home</igx-icon>
    <h4 class="title_1">Home</h4>
  </div>
</div>
<div class="row-layout_3 row">
  <div class="row-layout_6 layout_3 row">
    <div class="column-layout column">
      <div class="row-layout_5 row">
        <igx-avatar [roundShape]="true" src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar6.png" size="medium" class="avatar"></igx-avatar>
        <div class="column-layout_4 layout_3 column">
          <h5 class="content_2">Erin Brockovich</h5>
          <p class="content_2">Water quality specialist</p>
        </div>
      </div>
      <div class="layout layout_2 row-layout_10 row">
        <div class="column-layout_2 column">
          <p class="igx-typography__subtitle-2 content content_1">Open PTO</p>
          <igx-icon font="material" [active]="true" class="content icon_1">date_range</igx-icon>
          <p class="igx-typography__body-2 text_1">8.5 days used (YTD)</p>
          <p class="igx-typography__caption text_1">1 day scheduled</p>
        </div>
        <div class="column-layout_4 layout_1 layout_2 column">
          <p class="igx-typography__subtitle-2 content content_1">Bereavement leave</p>
          <div class="row-layout_8 row">
            <h6 class="title_2">0.0</h6>
            <igx-icon font="material" [active]="true" color="var(--igx-primary-500)" class="icon_1">date_range</igx-icon>
          </div>
          <p class="igx-typography__body-2 text_1">Days available</p>
          <p class="igx-typography__caption text_1">0 day scheduled</p>
        </div>
      </div>
      <div class="row-layout_7 row">
        <button igxButton="raised" [disabled]="false" class="button">
          <igx-icon class="content_1">send</igx-icon>
          <span>Request time off</span>
        </button>
        <button igxButton="icon" igxButtonColor="var(--igx-primary-500)" type="icon" [disabled]="false" class="icon-button">
          <igx-icon class="content_1">email</igx-icon>
        </button>
      </div>
      <div class="column-layout_3 column">
        <p class="igx-typography__subtitle-2 title">What's the buzz</p>
        <div class="column-layout_3 list_scroll column">
          <igx-list class="list">
            <igx-list-item class="list-item">
              <igx-avatar [roundShape]="true" src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar3.png" size="small" igxListThumbnail class="content_3"></igx-avatar>
              <h4 igxListLineTitle>Ethan Hunt</h4>
              <p igxListLineSubTitle>Birthday, Oct 1</p>
              <igx-icon font="material" [active]="true" igxListAction class="icon_1 content_3">cake</igx-icon>
            </igx-list-item>
            <igx-list-item class="list-item">
              <igx-avatar [roundShape]="true" src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar5.png" size="small" igxListThumbnail class="content_3"></igx-avatar>
              <h4 igxListLineTitle>Luke Skywalker</h4>
              <p igxListLineSubTitle>25th work-anniversary</p>
              <igx-icon font="material" [active]="true" igxListAction class="icon_1 content_3">flag</igx-icon>
            </igx-list-item>
            <igx-list-item class="list-item">
              <igx-avatar [roundShape]="true" src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar1.png" size="small" igxListThumbnail class="content_3"></igx-avatar>
              <h4 igxListLineTitle>Donnie Darko</h4>
              <p igxListLineSubTitle>On vacation, Oct 10-23</p>
              <igx-icon font="material" [active]="true" igxListAction class="icon_1 content_3">beach_access</igx-icon>
            </igx-list-item>
            <igx-list-item class="list-item">
              <igx-avatar [roundShape]="true" src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar2.png" size="small" igxListThumbnail class="content_3"></igx-avatar>
              <h4 igxListLineTitle>Edna Mode</h4>
              <p igxListLineSubTitle>Visiting customer</p>
              <igx-icon font="material" [active]="true" igxListAction class="icon_1 content_3">airplanemode_active</igx-icon>
            </igx-list-item>
          </igx-list>
        </div>
      </div>
    </div>
    <div class="column-layout_1 column">
      <div class="layout column-layout_5 column">
        <div class="row-layout row">
          <p class="igx-typography__subtitle-2 title_3">What's happening at Rapid Fission Inc.</p>
          <p class="igx-typography__subtitle-2 title_3">Announcements (1)</p>
        </div>
        <igx-list class="list">
          <igx-list-item class="list-item">
            <igx-avatar [roundShape]="true" src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar4.png" size="small" igxListThumbnail class="content_3"></igx-avatar>
            <h4 igxListLineTitle>George Bailey posted  an announcement, awards, and call for nominations</h4>
            <p igxListLineSubTitle>19 days ago</p>
            <igx-icon font="material" [active]="true" igxListAction class="icon_1 content_3">clear</igx-icon>
          </igx-list-item>
        </igx-list>
      </div>
      <div class="layout_3 column">
        <div class="row-layout_9 row">
          <p class="igx-typography__subtitle-2 title_2">MY BENEFITS</p>
        </div>
      </div>
      <igx-list class="list">
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" color="var(--igx-grays-800)" bgColor="var(--igx-grays-100)" icon="security" size="small" igxListThumbnail class="content_3"></igx-avatar>
          <h4 igxListLineTitle>Radiation protection health insurance planre</h4>
          <p igxListLineSubTitle>$600 every other week</p>
        </igx-list-item>
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" color="var(--igx-grays-800)" bgColor="var(--igx-grays-100)" icon="remove_red_eye" size="small" igxListThumbnail class="content_3"></igx-avatar>
          <h4 igxListLineTitle>20/20 Vision plans here</h4>
          <p igxListLineSubTitle>$234 every other week</p>
        </igx-list-item>
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" color="var(--igx-grays-800)" bgColor="var(--igx-grays-100)" icon="child_friendly" size="small" igxListThumbnail class="content_3"></igx-avatar>
          <h4 igxListLineTitle>Child care savings</h4>
          <p igxListLineSubTitle>$4955 remaining</p>
        </igx-list-item>
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" color="var(--igx-grays-800)" bgColor="var(--igx-grays-100)" icon="security" size="small" igxListThumbnail class="content_3"></igx-avatar>
          <h4 igxListLineTitle>Fire hazard protection  </h4>
          <p igxListLineSubTitle>On da house!</p>
        </igx-list-item>
      </igx-list>
      <div class="row-layout_2 row"></div>
    </div>
  </div>
</div>
<div class="row-layout_4 row">
  <p class="igx-typography__body-2 text">(c) 2020 Rapid Fission Inc.</p>
</div>
